*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    
    
}
/* NAVBAR SECTION*/


nav{
   background: linear-gradient(180deg, #4C38EE 0%, #543DFF 100%);
    display: flex;
    justify-content: end;
    width: 100vw;
    overflow: hidden;
    color: #ffffff;
}
.nav-link{
    display: flex;
    list-style-type: none;
    padding: 20px;
}
.nav-link li{
    margin-right: 15px;
}
.usa-flag{
    height: 15px;
    width: 15px;

}

/* HEADER SECTION*/

.header{
    height: 700px;
    width:100vw;
    border-radius: 0px;
    overflow: hidden;
    color: #ffffff;
    background: linear-gradient(122.29deg, #4C38EE 40.13%, rgba(76, 56, 238, 0.3) 133.77%);

}
.header-nav{
    display: flex;
    padding: 15px;
    margin-left: 70px;
    align-items: center;
    
}
.header-link{
    display: inline-flex;
    list-style: none;
    margin-left: 30px;
    margin-top: 20px;
}

.header-link li{
    margin-right: 15px;
}
.nav-logo{
    margin-right: 40px;
}
.nav-logo img{
    width: 150px;
}
.optimization-container{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-left: 70px;
    height: 700px;
}
.optimization{
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.optimization h1{
    font-size: 40px;
}
.optimization p{
    font-size: 20px;
}
.header-btn{
    width: 120px;
    height: 50px;
    border-radius: 5px;
    border: none;
    height: 50px;
    color:#291EF6;
    background: #FFFFFF;
    font-weight: 700;

}
.header-img{
    width: 800px;
    height: 750px;

}

/* INFO SECTION*/

.info-section{
    background: #FFFFFF;
    width: 100vw;
    color: #121212;
    ;
    display: flex;
    flex-direction: column;
    

}
.column{
    display: flex;
    gap: 200px;
    align-content: center;
    margin-left: 50px;
    padding: 20px;
    
}
.info{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    width: 400px;
}
.info h2{
    font-size: 35px;
    font-weight: 700;
    color: #4C38EE;
}
.info p{
    font-size: 18px;
    font-weight: 500;
}
.info-image img{
    height: 400px;
    width: 550px;
}
.line{
    width: 170px;

}

/* QUESTION SECTION*/
.question-sec{
    width: 100vw;
    height: 200px;
    padding: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 30px;
    color: #ffffff;
    background: #4C38EE;

}
.question-title{
    width: 600px;
    gap: 30px;
}

.question-title h2{
    margin-bottom: 10px;
}
.request-btn{
height: 50px;
width: 127px;
color: #FFFFFF;
background: #4C38EE;
border: 1px solid #ffffff;
border-radius: 0px;



}



/* FOOTER SECTION*/
footer{
    margin-top: 0px;
    width: 100vw;
    height: 500px;
  
    background: #F9FAFD;

    
}
.footer-logo{
    margin-left: 70px;
    width: 200px;
    padding: 20px;
    margin-top: 20px;
}
.footer-info{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
}
.row-1{
    gap: 5px;
}
 h3{
    font-size: 18px;
    color: #0000FF;
    margin-bottom: 15px;

}
.row-1, .row-2,.row-3,.row-4,.row-5 p{
    font-size: 14px;
    font-weight: 400;
}

    
.footer-link{
    margin-top: 80px;
    color:#3922eb;
    gap: 70px;
    margin-left: 50px;
}
.footer-link span{
    margin-left: 50px;
    font-weight: 700;
}
.footer-input{
    height: 50px;
    width: 350;
    border: none;
    padding: 10px;
    color:#C4C4C4;
    
}
.footer-btn{
    height: 50px;
    padding: 10px;
    width: 85px;
    border-radius: 10px;
    background: #3722D3;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.arrow{
    margin-top: 150px;
    margin-left: 150px;
}
    

